body {
    font-family: monospace;
}

.brand {
    position: absolute;
    top: .6em;
}

.main {
    margin-top: 5em;
}

.navbar {
    height: 3.7em;
    color: #eee;
}

.nav>li {
    margin-right: 2em;
    line-height: 3.5em;
}

.nav>li>a {
    display: inline;
}

.navbar-inverse {
    background-color: #333333;
    border-color: #000;
}
.navbar-nav>li>a {
    padding: 0;
}


